@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: beige
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}
a.actual{
    font-weight: bold;
}
header {
    background-color: whitesmoke;
}
header > h1 {
    font-size: 1.2em;
    margin-top: 0;
}
header > h1 > a > span {
    color: darkolivegreen;
}
p.eslogan {
    color: darkgray;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: bold;
}
main > h2 {
    font-size: 3em;
}
main > h2 > span {
    color: darkolivegreen;
}
main > ul {
    margin-bottom: 0;
}
#Servicios {
    background: darkgray;
}
#Testimonios {
    background: darkkhaki;
}
#testimonios ul {
    margin-top: 0;
}
#Testimonios li {
    background: darkolivegreen;
}
footer {
    background:  darkgray;
}
footer > ul { 
    margin-bottom: 0;
}